<canvas #canvas class="canvas"></canvas>
<div class="overlay">
    <!-- <div class="tabs">
        <div class="tabs-labels">
            <span class="tabs-label" [class.tabs-label--active]="activeTab === 0"
                (click)="activateTab(0)">Commands</span>
            <span class="tabs-label" [class.tabs-label--active]="activeTab === 1" (click)="activateTab(1)">Info</span>
            <span class="tabs-label" [class.tabs-label--active]="activeTab === 2" (click)="activateTab(2)">Share</span>
        </div>

        <div class="tabs-panels">
            <ul class="tabs-panel commands" [class.tabs-panel--active]="activeTab === 0">
            </ul>
            <div class="tabs-panel" [class.tabs-panel--active]="activeTab === 1">
            </div>
            <div class="tabs-panel" [class.tabs-panel--active]="activeTab === 2">
            </div>
        </div>
    </div> -->
</div>