<div class="timer">
  <div class="days">
    {{ _counter.cnt.days }}
    <span class="text">{{ _counter.cnt.days === 1 ? 'dia' : 'dias' }}</span>
  </div>
  <div class="hours">
    {{ _counter.cnt.hours }}
    <span class="text">{{ _counter.cnt.hours === 1 ? 'hora' : 'horas' }}</span>
  </div>
  <div class="minutes">
    {{ _counter.cnt.minutes }}
    <span class="text">{{ _counter.cnt.minutes === 1 ? 'minuto' : 'minutos' }}</span>
  </div>
  <div class="seconds">
    {{ _counter.cnt.seconds }}
    <span class="text">{{ _counter.cnt.seconds === 1 ? 'segundo' : 'segundos' }}</span>
  </div>
</div>
