$colors: #ef8d22, #feff28, #2bd8ff, #fc85e1;
$particles: 50;
$width: 500;
$height: 500;
$box-shadow: ();
$box-shadow2: ();

@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    random($width) -
      calc($width/2) +
      px
      random($height) -
      calc($height/1.2) +
      px
      hsl(random(360), 100%, 50%);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}

body {
  cursor: none;
  margin: 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 100vw;
}

.container {
  background: linear-gradient(
    to right,
    #e2b8f7,
    #d4bafa,
    #c7bcfb,
    #b9befb,
    #acbff9
  );
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: -10;
}

@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($settings) {
  animation-delay: $settings;
}

@mixin animation-duration($settings) {
  animation-duration: $settings;
}

@mixin animation($settings) {
  animation: $settings;
}

@mixin transform($settings) {
  transform: $settings;
}

span {
  display: block;
}

.titulo {
  text-align: center;
  width: 99%;
  padding: 0.5%;
  font-size: 5vw;
  background: -webkit-linear-gradient(
    0deg,
    rgb(170, 118, 243) 0%,
    rgb(115, 118, 243) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Holtwood One SC", serif;

  font-weight: 500;
  z-index: 100;
  letter-spacing: 0.1em;
  left: 50%;
}

.texto {
  text-align: center;
  width: 94%;
  padding: 3%;
  left: 50%;
  font-size: 2vw;
  background: -webkit-linear-gradient(
    90deg,
    rgb(151, 90, 170) 0%,
    rgb(194, 150, 70) 100%
  );
  font-family: "DynaPuff", serif;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 625px) {
  .titulo {
    font-size: 10vw;
  }

  .texto {
    display: grid;
    place-items: center;
    font-size: 4vw;
  }
}

.tortica {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 100px;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;

  .plate {
    position: fixed;
    height: 120px;
    width: 400px;
    border-radius: 100%;
    background: radial-gradient(
      ellipse closest-side at center,
      rgba(8, 199, 254, 1) 0%,
      rgba(4, 215, 242, 1) 71%,
      rgba(2, 255, 208, 1) 100%
    );
    box-shadow: 0 3px 0 #00e2e1, 0 6px 0 #00d3fb;
    z-index: -3;
    transform: translateY(50%);
  }

  .cake {
    position: fixed;
    left: 50%;
    width: 300px;
    height: 90px;
    background: #f9fdff;
    border-radius: 100%;
    transform: translateX(-50%);
    box-shadow: 0 4px 0 #f4f9fd, 0 8px 0 #dba9ff, 0 12px 0 #fec3b3,
      0 16px 0 #f7f6fb, 0 20px 0 #f7f6fb, 0 24px 0 #f7f6fb, 0 28px 0 #f7f6fb,
      0 32px 0 #fea0bb, 0 36px 0 #fea0bb, 0 40px 0 #9cef9d, 0 44px 0 #9cef9d,
      0 48px 0 #f7f6fb, 0 52px 0 #f7f6fb, 0 56px 0 #f7f6fb, 0 60px 0 #f7f6fb,
      0 64px 0 #f7f6fb, 0 68px 0 #dfa5fc, 0 72px 0 #dfa5fc, 0 76px 0 #fafffe,
      0 80px 0 #fafffe;
    z-index: -2;
  }

  .candle {
    position: fixed;
    height: 60px;
    width: 15px;
    left: 50%;
    background: linear-gradient(
      0deg,
      rgba(183, 244, 167, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-radius: 4px;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    @for $C from 1 through 35 {
      &:nth-child(#{$C}) {
        background: linear-gradient(
          0deg,
          rgb(255, random() * 245, 167) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        $x: random() * 200px;
        $y: random() * 20%;
        transform: translate(-$x + 100px, $y);
        animation-duration: random() * 3s + 2s;
        animation-delay: random() * -5s;
      }
    }
  }

  #flame {
    position: absolute;
    z-index: 10;
  }

  .lit {
    background: linear-gradient(to bottom, #fff6d9, #fbc36c);
    width: 15px;
    height: 35px;
    border-top-left-radius: 10px 35px;
    border-top-right-radius: 10px 35px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    top: -34px;
    margin: auto;
    box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    transform-origin: bottom;
    animation: flicker 1s ease-in-out alternate infinite;
  }

  @keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }

    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }

    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    }

    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }

    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
  }
}

.fireworks {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  z-index: -999;
}
