html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8888;
    background: #000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    pointer-events: none;
}

.tabs {
    pointer-events: auto;
}